.modal-grande .po-modal-content {
  max-height: 95vh; /* 90% da altura da tela */
  height: auto;
}
.combo-com-botao,
.filtros-container {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: nowrap;
}

.combo-com-botao po-combo{
  flex: 0; /* O combo cresce para ocupar espaço */
  min-width: 500px;  
}

.filtros-container po-combo:nth-child(1),
.filtros-container po-combo:nth-child(2){
  flex: 0; /* O combo cresce para ocupar espaço */
  min-width: 500px;  
}
.filtros-container po-combo:nth-child(3){
  flex: 1; /* O combo cresce para ocupar espaço */
  min-width: 100px;
  width: 100px;  
}
::ng-deep .po-table tbody tr:nth-child(even) {
   background-color: #dddddd37;

}

::ng-deep .po-table tbody tr:nth-child(odd) {
   background-color: #12010137;

}
::ng-deep .po-table-header{

  background-color: #007bff !important;
  color: #fff !important;
}

.combo-com-botao .po-button {
  background-color: #007bff !important;
  border-color: #007bff !important;
}

.logo{
  position: absolute;
  top:0;
  left: 0;
  width: 200px;
  height: 200px;
}

.po-button.p-primary,
.po-po-button-primary:hover,
.po-po-button-primary:focus{

  border-color: #045B8F !important;
  background-color: #045B8F !important;
}


.hero {
  top:-10px;
  left: -20px;
  width: 100vw;
  height: 100%;
  text-align: left;
 
  position: relative;
  text-transform: uppercase;
  scrollbar-width: none;
  
}

.hero-one {
  top: 0;
  position: absolute;
  text-align: center;
  width: 60%;
  background-color: #045B8F;
  height: 100%;
  clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
  z-index: 1;
  background-image:linear-gradient(to left, rgba(0,73,122,0.6) 26.48%, rgba(0,51,102,0.6) 73.52%) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  background-color: #ebeef0;
  height: 100%;
  background-image: linear-gradient(to left, rgba(242, 242, 242, 0.9) 26.48%, rgba(116, 107, 107, 1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-title {
  color:#CCC;
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 28%;
  transform: translate(-50%, -50%);
}

.header-primary {
  font-size: 2em;
  display: block;
  font-weight: 700;
}

.header-sub{
  position: relative;
  top: 10px;
  & i{font-size:32px}
}

.grid-opcoes {
  display: grid;
  position: absolute;
  z-index: 2;
  width: 100%;
  top:100px;
  left: 80px;
  gap:10px;
  align-items: center;
  padding: 20px;
}

.opcao {
  all: unset;
  cursor: pointer;
  border-radius: 5px;
  transition: transform .3s;
  height: 75px;
  width: 60%;
  align-content: center;
  text-align: left;
  background-color: #DDD;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  font-size: 16px;
  grid-column: 2;
  text-transform:none;
}

.opcao:hover{
  background: steelblue;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 15px 15px;
  & .square i{color:white}
  & span{color:white}
  & .info div h4{color:white}
}

.opcao div.square {
  /*border: solid 1px #c4c2c2;*/
  width: 50px;
  height: 40px;
  float:left; 
  margin-top: 5px;
  text-align: center; 
}
.square i { font-size: 32px}
.info{
  display: flex;
  flex-direction: column;
  & div h4{color:black}
  & span{ color:rgb(107, 107, 107)}
}

.versao{
  position: absolute;
  bottom: 5px;
  color:  #045B8F;
  z-index: 2;
  width: 300px;
  margin-left: 1%;
  font-size: 12px;
  
  & div{
    position: relative;
  }
  
}

/* NOVO */

.homepage{
  top:10px;
  width: 95%;
  position: absolute;
  display: flex;
  gap:20px;
  justify-content: center;
  z-index: 99;
  text-transform: none; 
}

.homepage .card{
  position: relative;
  cursor: pointer;
  
}

.homepage .card .face{
  width: 150px;
  height: 80px;
  transition: 0.5s;
  border-radius: 4px;
}

.homepage .card .face.face1{
  position: relative;
  background: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(30px);
}

.homepage .card:hover .face.face1{
  background: steelblue;
  transform: translateY(0);
}

.homepage .card .face.face1 .content{
  opacity: 0.6;
  transition: 0.5s;
}

.homepage .card:hover .face.face1 .content{
  opacity: 1;
}

.homepage .card:hover .face.face1 .content i {
  color:whitesmoke;
}

.homepage .card:hover .face.face1 .content h3 {
  color:whitesmoke;
}

.homepage .card .face.face1 .content i{
  color:whitesmoke;
}

.homepage .card .face.face1 .content img{
  max-width: 100px;
}

.homepage .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color: whitesmoke;
  text-align: center;
  font-size: 1.3em;
}

.homepage .card .face.face2{
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  transform: translateY(-50px);
}

.homepage .card:hover .face.face2{
  transform: translateY(-10px);
}

.homepage .card:hover .face.face1{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.homepage .card .face.face2 .content p{
  color:black;
  
  margin-top: 10px;
  padding: 0;
}

.homepage .card .face.face2 .content a{
  margin: 10px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #045B8F;
  padding: 5px;
  border: 1px solid #045B8F;
  width: 150px;
  border-radius: 10px;
  transition: .3s;
}

.homepage .card .face.face2 .content a:hover{
  background: steelblue;
  color: #fff;
}      


.tipoCalculo {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.icone {
    width: 50px;
    height: 40px;
    font-size: 32px;
    float: left;
    margin: 0 5px 5px 0;
    text-align: center;

    & i {
        color: white;
    }
}

.formatoTexto {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-variant-numeric: tabular-nums;
}

figure.snip0057 {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width:1fr;
    background: #F2F2F2;
    color: #000000;
    box-shadow: 5px 5px 6px 0px lightgray;
    transition: all 0.35s ease-in-out;
    border-radius: 4px;
  }

  figure.snip0057:hover {
    box-shadow: 8px 8px 4px gray;
    
  }

  figure.snip0057 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }

  figure.snip0057 span{
    position:relative; 
    top:15px; 
    left:0px;
    padding: 0px 10px;
    font-weight: 800;
    font-size: 1.8em;
    width: 100%;
    border-radius: 4px;
    box-shadow: 1px 5px 6px 0px lightgray;  
    
  }

  figure.snip0057 .image {
    height: 170px;
    width: 190px;
  }

  figure.snip0057 .image img {
    position: relative;
    display: block;
    left: -15%;
    z-index: 1;
    -webkit-transform: skew(15deg);
    transform: skew(15deg);
  }
  
  figure.snip0057:before {
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    -webkit-transform: skewX(-17deg);
    transform: skewX(-17deg);
    -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
    box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
  }
  figure.snip0057 figcaption {
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    right: 0;
    bottom: 60px;
    width: 100%;
  }
  figure.snip0057 figcaption h2,
  figure.snip0057 figcaption p {
    margin: 0;
    text-align: right;
    padding: 10px 0;
    width: 100%;
  }
  figure.snip0057 figcaption h2 {
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  figure.snip0057 figcaption span {
    font-size: 1.5em;
    font-weight: 800;
    flex-grow: 1;
  }
  figure.snip0057 figcaption p {
    font-size: 0.9em;
    opacity: 0.8;
    height: 60px;
  }
  figure.snip0057 figcaption .icons {
    width: 100%;
    text-align: right;
  }
  figure.snip0057 figcaption .icons i {
    font-size: 26px;
    padding: 5px;
    top: 50%;
    color: #000000;
    opacity: 0;
  }
  figure.snip0057 figcaption a {
    opacity: 0.3;
  }
  figure.snip0057 figcaption a:hover {
    opacity: 0.8;
  }
  figure.snip0057 .position {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.9em;
    opacity: 1;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
  }
  figure.snip0057 .position button{
      cursor: pointer;
      border: 0;
      background-color: transparent;
      color: white;
      width: 100%;
      height: 100%;
  }

  figure.snip0057.black .position {
    background: black;
  }

  .green {color: var(--color-10)}
  .blue {color: var(--color-01)}
  .red {color: var(--color-07)}
  .lemon {color: var(--color-09)}
  .yellow {color: var(--color-08)}
  
  figure.snip0057.green .position {
    background: var(--color-10);
  }
  figure.snip0057.blue .position {
    background: var(--color-01);
  }
  figure.snip0057.red .position {
    background: var(--color-07);
  }
  figure.snip0057.yellow .position {
    background: var(--color-08);
  }
  figure.snip0057.lemon .position {
    background: var(--color-09);
  }

  
  figure.snip0057:hover figcaption,
  figure.snip0057.hover figcaption {
    bottom: 80px;
  }
  figure.snip0057:hover .icons i,
  figure.snip0057.hover .icons i {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  figure.snip0057:hover:before,
  figure.snip0057.hover:before {
    -webkit-animation: shadow 0.6s ease-in-out;
    animation: shadow 0.6s ease-in-out;
  }
  @-webkit-keyframes shadow {
    0% {
      left: 0px;
    }
    50% {
      left: -5px;
    }
    100% {
      left: 0px;
    }
  }
  @keyframes shadow {
    0% {
      left: 0px;
    }
    50% {
      left: -5px;
    }
    100% {
      left: 0px;
    }
  }

  /* Demo purposes only */
  
  .card-container {
    display: flex;
    justify-content: space-between;
   
  }

  
.frame-grid-selecao {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  /*height: 300px;*/
  max-height: 40vh;
    overflow: auto;
}

.frame-grid-resumo {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  /*height: 300px;*/
  max-height: 64vh;
    overflow: auto;
}

.show{
    display:block;
}
.hide{
    display:none;
}
.efetivacaoInfo{
  display: flex; 
  justify-content: end; 
  align-items: center; 
  margin-bottom: 10px; 
  background-color: whitesmoke;
}

.efetivacaoInfo > div{
  margin-right: 20px;
}

.rpwInfo {
  display: none;
  color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  margin-top: 5px;
  max-width: 520px;

  :is(h4) {
    color: white;
  }
}

.rpwInfo.ok {
  background: var(--color-10);
}

.rpwInfo.erro {
  background: var(--color-07);
}

.rpwInfo.info {
  background: var(--color-08);
}

.icone {
  margin-right: 10px;
  font-size: 24px;
  float: left;
  text-align: center;
  
  :is(i) {
    color: white;
  }

}
.formatoTexto{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px; 
  font-variant-numeric: tabular-nums;
}
