/* You can add global styles to this file, and also import other style files */
	@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";



:root {
  --color-01: #004b87 !important;
  --color-02: #0088b9 !important;
  --color-03: #470a68 !important;
  --color-04: #702876 !important;
  --color-05: #a51f66 !important;
  --color-06: #f185ce !important;
  --color-07: #a6192e !important;
  --color-08: #f99e1d !important;
  --color-09: #0088b9 !important;
  --color-10: #007a87 !important;
  
  --color-feedback-info-lightest: #f6e6e5 !important;
  --color-feedback-info-lighter: #e3aeab !important;
  --color-feedback-info-light: #d58581 !important;
  --color-feedback-info-base: #be3e37 !important;
  --color-feedback-info-dark: #9b2d27 !important;
  --color-feedback-info-darker: #72211d !important;
  --color-feedback-info-darkest: #4a1512 !important;

  --po-color-primary: #045B8F !important;
  --po-color-primary-light: #045B8F !important;
  --po-color-primary-dark: #045B8F !important;
  
  box-shadow: none !important;

  --color-toolbar-background-color-toolbar: rgba(242, 242, 242, 0.9) !important;
  --color-toolbar-background-color-toolbar-transform: translate(-50%, -50%) !important
}

.po-button-primary,
.po-button-primary:focus,
.po-button-primary:hover {
  background-color: #045B8F !important;
  border-color: #045B8F !important;
  color: white !important;
  fill:  #045B8F !important;
}
 
.po-input:focus,
.po-combo:focus-within {
  border-color: #045B8F !important;
  box-shadow: 0 0 0 2px #045B8F !important;
  fill:  #045B8F !important;
}
 
::ng-deep .po-select-item:hover {
  background-color: #045B8F !important;
  color: white !important;
  fill:  #045B8F !important;
}

::ng-deep .po-menu-item-active,
::ng-deep .po-menu-item-selected,
::ng-deep .po-menu-item:hover,
::ng-deep .po-dropdown-item:hover,
::ng-deep .po-dropdown-item-selected
{
  background-color: #BBDEFB !important;
  color:  #045B8F !important;
  fill:  #045B8F !important; 
}
::ng-deep .po-input:focus{
    border-color: #045B8F !important;
}

::ng-deep .po-po-button-primary{

  box-shadow: none !important;
}
::ng-deep .po-po-button-primary:hover
::ng-deep .po-po-button-primary:focus
::ng-deep .po-po-button-primary:active
{
    border-color: #045B8F !important;
    box-shadow: #045B8F !important;
}

::ng-deep .po-toolbar-title,
::ng-deep .po-menu-mobile,
::ng-deep .po-menu-icon-label
{
  color:  #045B8F !important;
}

::ng-deep .po-menu .po-menu-icon-item,
::ng-deep .po-menu-item,
::ng-deep .po-menu-collapse-button-icon,
::ng-deep .po-field-icon
{
  color:  #045B8F !important;
  fill:  #045B8F !important; 
}


.menuGrid {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  width: 200px;
}

.menuGrid>div {
  text-align: center;
}
.menuGrid div i{
  font-size:16px;
}

.btn {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  align-content: center;
  /* background-color: transparent;
  border: 1px solid transparent; */
 
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  padding: 5px;
  gap: 5px;
  min-width: 96px;
  font-weight: 500;
}

.btn:hover {
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #045B8F;
  background: #e4fed7;
}

.btn > p {
  font-size: 12px;
}

.dlg{
  display:flex;
  justify-content:start;
  align-items:center;
  gap:10px
}





