.face-button {
    height: 44px;
    display: inline-block;
    border: 2px solid var(--color-05);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-05);
    overflow: hidden;
    border-radius: 4px;
    
    .face-primary,
    .face-secondary {
      display: block;
      padding: 0 16px;
      line-height: 44px;
      transition: margin .4s;
    }
    
    .face-primary {
      background-color: var(--color-05);
      color: #fff;
    }
    
    &:hover .face-primary {
      margin-top: -44px;
    }
  }